
@{
    ViewBag.Title = "QuoteAccept";
}

<div style="text-align:center; font-weight:bold; font-size: 50px;">
    Application Succesfully Submitted<br />
    <span style="color:green">Thank you for accepting your quote and submitting you application . We will thoroughly revise your application for approval.</span>
</div>
